/* .main {
  width: 100%;
  height: 100%;
  text-align: center;
} */

/* h1 {
  margin: 0;
  height: 3vh;
} */

button {
  /* border: none;
  background: none; */
  margin-top: 2px;
  height: 100%;
  width: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

/* .pages{
  margin: 0;
  height: 5vh;
} */

.cols {
  display: flex;
  height: 90vh;
  overflow: hidden;
}

.techColumn {
  max-width: 300px;
  min-width: 200px;
  
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

.techs {
  display: flex;
  width: auto;
  padding: 14px;
  margin: 8px;
  border: 1px solid black;
  min-height: 18px;
  border-radius: 5px;
  box-shadow: 5px 3px 3px black;
}

.noteColumn {
  width: 100%;
  border: 1px solid red;
  padding: 1em 3em;
}