#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cols {
  display: flex;

}

.techColumn {
  max-width: 200px;
  min-width: 200px;
}

.techs {
  width: 100%;
  padding: 1em;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 3px 3px black;
}

.noteColumn {
  width: 100%;
  padding: 1em 3em;
}